# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.idea/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# flask logs
*.log
instance/
.webassets-cache

gym/graphs/*.json

# Sqlite3 db
gymstore.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
cleanvenv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
# Settings
local.settings.json

# Any logs
output/*
logs/*
*.DS_Store
app-malt/logs/*
app-traffic-analysis/logs/*
app-CRG/logs/*